.nav-list {
    list-style: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
}