body {
    margin: 0;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-group {
    display: flex;
    align-items: center;
}

.nav-img {
    width: 28px;
    height: 28px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}

nav {
    display: flex;
}
