body {
    margin: 0;
    background: radial-gradient(circle at top, #2f3c7e, #050816);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    background-color: #0a1329
}

.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-group {
    display: flex;
    align-items: center;
}

.nav-img {
    width: 28px;
    height: 28px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
}

.page {
    max-width: 1100px;
    margin: 0 auto
}

.btn {
    border-radius: 20px;
    background-color: hsl(10, 90%, 58%);
    color: white;
    padding: 10px;
}

.btn:hover {
    background-color: hsl(10, 90%, 48%);
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    background-color: hsl(222, 50%, 16%);
    box-shadow: 3px 3px 5px 2px hsl(221, 86%, 11%);
}

.card img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}

.card button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.card button:hover {
    cursor: pointer;
    background-color: #d8dcf0;
}

.about {
    background-color: rgba(255, 255, 255, 0.02);
    padding: 20px;
    box-shadow: 2px 2px 5px 2px rgba(255, 255, 255, 0.1);
    margin: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.description {
    display: flex;
    gap: 20px;
}

.description img {
    width: 80px;
    height: 80px;
}
