body {
    margin: 0px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    padding: 5px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 5px;
}
