body {
    margin: 0;
}

header {
    border-bottom: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    box-shadow: 2px 2px 5px lightblue;
}
